/* ************* Variables CSS ************* */
:root {
  --cPrincipal: #005186;
  --cSecundario: #555555;
  --cContraste: #370202;
  --cEnfasis: #814d1c;
  --cTexto: #f2f2f2;
  --cFondo: #323232;
  --texto: "Roboto", sans-serif;
}

/* ************* Reset ************* */
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

/* ************* UI Components ************* */
article {
  margin-bottom: 1em;
  margin-top: 1em;
}
body {
  background-color: var(--cFondo);
  color: var(--cTexto);
  font-family: var(--texto);
  font-size: 16px;
}

footer {
  background-color: var(--cSecundario);
  color: var(--cTexto);
  height: 10.7em;
}
footer p {
  text-align: center;
}
h1 {
  text-indent: -99999px;
  width: 0;
  height: 0;
}
h2 {
  font-family: var(--texto);
  color: var(--cPrincipal);
}
h3 {
  font-family: var(--texto);
  color: var(--cEnfasis);
  font-size: 1.95em;
}
header img {
  margin-left: 1em;
  width: 100%;
  height: 2em;
}
img.slide {
  height: auto;
  width: 100%;
}

.header {
  position: fixed;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cPrincipal);
  z-index: 999;
  width: 100%;
  bottom: 0;
  left: 0;
}
/* Menú - Hamburguesa */
.btn-menu {
  border: thin solid var(--cFondo);
  border-radius: 10%;
}
.hamburger {
  position: relative;
  z-index: 998;
}
.menu {
  background-color: var(--cPrincipal);
  opacity: 90%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 500ms ease-in-out;
  transform: translate(0, 120%);
}
.menu.is-active {
  transform: translate(0, 0);
}
.menu a {
  padding: 1rem;
  width: 100%;
  display: block;
  font-size: 2rem;
  transition: all 0.5s ease-out;
  text-decoration: none;
  color: var(--cTexto);
  transition: all 0.5s ease-out;
}
.menu li:hover {
  background-color: var(--cEnfasis);
}
.menu-style {
  list-style: none;
}
/* Termina el menú - Hamburguesa */
/* Buttom Theme */
.theme-button {
  background-color: var(--cPrincipal);
}
.theme-button img {
  height: 2.5em;
  width: auto;
}
/* Termina - Buttom Theme */
.padding1 {
  padding: 0.5em;
}

.ancla {
  position: relative;
  top: -4em;
}
.aling-top {
  margin-bottom: 4.5em;
}

.border-cp {
  border-color: var(--cPrincipal);
}
.btn-up {
  background: url(../img/btn-arriba.png) no-repeat right/2.5em;
  height: 2.5em;
  margin: 1em;
  overflow: hidden;
  text-indent: -9999px;
  width: 2.5em;
}
.card-m0 {
  margin-top: 0em;
  margin-bottom: 0em;
}
.center {
  margin: auto;
}
.color-btn-cp {
  color: #fff;
  background-color: var(--cPrincipal);
  border-color: var(--cPrincipal);
}
.color-btn-ce {
  color: #fff;
  background-color: var(--cEnfasis);
  border-color: var(--cEnfasis);
}
.color-btn-cc {
  color: #fff;
  background-color: var(--cContraste);
  border-color: var(--cContraste);
}
.color-text-enfasis {
  color: var(--cEnfasis);
}
.desktop {
  display: none;
}

.icon-redes img {
  height: auto;
  width: 3em;
}
.img-redonda {
  height: 150px;
  width: 150px;
  border-radius: 150px;
}
.movile {
  display: block;
}
.spotify {
  margin-left: auto;
  margin-right: auto;
}

.youtube {
  height: 12em;
  width: 100%;
}

/* ************* Utilities ************* */
.bg-c {
  background-color: var(--cPrincipal);
}
.bg-c-fondo {
  background-color: var(--cFondo);
}

.center {
  margin: auto;
}
.color-btn-cp {
  color: #fff;
  background-color: var(--cPrincipal);
  border-color: var(--cPrincipal);
}
.color-btn-ce {
  color: #fff;
  background-color: var(--cEnfasis);
  border-color: var(--cEnfasis);
}
.color-btn-cc {
  color: #fff;
  background-color: var(--cContraste);
  border-color: var(--cContraste);
}
.color-text-enfasis {
  color: var(--cEnfasis);
}
.link-active {
  border-bottom: thin solid var(--cFondo);
}
.shadow- {
  -webkit-box-shadow: 5px 7px 11px 1px #000;
  box-shadow: 5px 7px 11px 1px #000;
}
.s-4 {
  font-size: 45px;
}
.text-card-s {
  font-size: 0.7em;
}
.text-card-t {
  font-size: 0.9em;
}

/* ************* Media Cueries ************* */
@media (min-width: 1200px) {
  footer {
    height: 15vh;
  }
  .aling-bottom {
    height: 7.5em;
    margin-bottom: 0;
  }
  .desktop {
    display: block;
  }
  .flex-row- {
    display: flex;
    flex: row;
  }
  button.hamburger {
    visibility: visible;
  }
  .header {
    position: sticky;
    top: 0;
    left: 0;
  }
  .icon-redes img {
    height: auto;
    width: 2.5em;
  }
  .m-t-5 {
    margin-top: 5em;
  }
  .movile {
    display: none;
  }
  /* .navbar-top {
    position: relative;
    top: 0;
  } */
  .reverse {
    flex-flow: row-reverse;
  }
  /* Menú - Hamburguesa */

  .hamburger {
    display: none;
  }

  .menu,
  .menu ul {
    position: sticky;
    display: flex;
    flex-direction: row;
    padding-top: 0.7em;
    background-color: transparent;
    transform: translate(0, 0);
  }

  .menu a {
    padding: 0 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--cTexto);
  }

  .menu li:hover {
    background-color: var(--cEnfasis);
    border-radius: 5%;
    /*     background-color: transparent; */
  }
  /*****************************************************/
}
